<script src="https://giscus.app/client.js"
        data-repo="isunjn/isunjn.github.io"
        data-repo-id="R_kgDOGPKkyw"
        data-category="giscus_comment"
        data-category-id="DIC_kwDOGPKky84CWrAX"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://isunjn.me/giscus_light.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>